/*General Styling*/
body{
    color:black;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    background-image: url("https://raw.githubusercontent.com/LandoHarris/GitPages/main/Images/Image.png");
   
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
h1{
    color:black;
    font-family: "Times New Roman", Times, serif;
}
